
html{
    overflow-y: scroll;
    display: block;
	font-family:sans-serif;
}

body {
    background-color: #800000;
    display: block;
    margin: 8px;
    height: 100%;
    min-height: 100vh;
    position: relative;
    font-family: 'Gotham SSm A','Gotham SSm B',Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    letter-spacing: normal;
    color: #fff;
}
#wrapper {

    display: flex;
    flex-flow: column;
    height: 100%;
    min-height: 100vh;
}
#wrapper section {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center; 
    justify-content: center;
    width: 100%;
    max-width: 25%;   
    flex: 1 1 auto;
    justify-content: flex-start;
    background: #363636;
    padding: 0 5%;
}


#wrapper section#loginbox, #wrapper section#chpsd_box, #wrapper section#fgpsd_box{
    padding-top: 120px;
    margin: auto;
    font-size: larger;
}

form {
    display: block;
    margin-top: 1em;
    width: 55%;
}
form#signup_form, #chpsd_form, #fgpsd_form{
    width: 70%;
}

section form .input-wrapper {
    position: relative;
    margin-bottom: 30px;
}

#wrapper form input[type="text"], #wrapper form input[type="password"], #wrapper form select{
    position: relative;
    text-indent: 10px;
    width: 100%;
    height: 40px;
    box-shadow: inset 0 0 2px #000;
    border-radius: 2px;
    border: none;
    font-size: .88888889em;
    color: #363636;
    font-weight: 400;
    background-color: #fff;
}

div {
    display: block;
}

#wrapper form .submit-buttons {
    display: flex;
    flex-direction: column-reverse;
}

#wrapper form button#login_submit, #wrapper form button#signup_submit,
#wrapper form button#chpsd_submit, #wrapper form button#fgpsd_submit{
    font-weight: 500;
    text-transform: uppercase;
    font-size: medium;
    width: 100%;
    padding: 15px;
    margin: 0 auto;
    border: none;
    background-color: #800000;
    color: #fff;
    margin-bottom: 10px;
}

button {
    cursor: pointer;
}

#wrapper form button.login_b1 {
    display: block;
    font-size: medium;
    margin: 0 auto 15px auto;
    color: #fff;
    background: none;
    border: none;
    text-decoration: underline;
}


#wrapper form #alert.active {
    height: 20px;
    opacity: 1;
    background-color: #c16622;
    color: #fff;
    padding: 15px;
    margin-bottom: 15px;
}
#wrapper form #alert {
    opacity: 0;
}

#wrapper form #alert p {
    display: flex;
    align-items: center;
    margin: 0;
    font-weight: 500;
    color: #fff;
}

@media screen and (max-width: 1800px) {
    
    #wrapper section {
        max-width: 40%;
    }    
}

@media screen and (max-width: 1350px) {
    
    #wrapper section {
        max-width: 55%;
    }    
}

@media screen and (max-width: 1000px) {
    
    #wrapper section {
        max-width: 70%;
    }    
}

@media screen and (max-width: 800px) {
    
    #wrapper section {
        max-width: 85%;
    }    

    form {
        width: 100%;
    }
    form#signup_form, #chpsd_form, #fgpsd_form{
        width: 100%;
    }
}