body{
    font-family: 'Poppins',sans-serif;
}    

.setting_page table {
    border: 2px solid lightgrey;
    border-collapse: collapse;
    width: 100%;
}

.setting_page thead {
    border: 2px solid lightgrey;
}

.setting_page thead td {
    font-weight: bold;
}

.setting_page td {
    text-align: left;
    padding: 8px;
    height: 30px;
}

.setting_page tr:nth-child(even) {background-color: #f2f2f2;}

.setting_page {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.search-filter {
    margin-top: 5%;
    margin-bottom: 2%;
    display: flex; 
    align-items: center;
    justify-content: space-between; 
}

.search-filter input[type=text] {
    box-sizing: border-box;
    height: 30px;
}


.setting_page button[type=submit] {
    box-sizing: border-box;
    height: 30px;
}

/* Style the buttons */
.setting_page .btn {
    box-sizing: border-box;
    /* border: none;
    outline: none; */
    height: 30px;
    width: 80px;
    /* background-color: #f1f1f1; */
    cursor: pointer;
}
  
/* .setting_page .btn:hover {
    background-color: #ddd;
} */

@media screen and (max-width: 600px) {
    .setting_page {
        width: 100%;
    }
    
    .search-filter {
        flex-direction: column;
        gap: 12px;
    }
}



/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
    position:fixed;
    background: white;
    width: 50%;
    height: 50%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 2%;
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }

  .modal-main button {
    width: 10%;
  }